.menu {
  width: 80px;
  height: 100vh;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 1.5px solid var(--white);
  overflow-y: auto;
  overflow-x: hidden;
}

.list {
  width: 100%;
}

.desktop-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mobile-menu {
  height: 50px;
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid var(--white);
  background-color: var(--paper);
}

.menu-item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 300ms;
  flex: 1;
}

.no-border {
  border-radius: 0px;
}

.active-item {
  background-color: var(--background);
}

.menu-item:active {
  transform: scale(0.95);
}

.menu-item:hover {
  background-color: var(--background);
}

.menu-item a {
  display: flex;
}
