.auth-form-container {
  width: 95%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 14px;
  border: 1.5px solid var(--secondary);
  border-radius: 6px;
}

.auth-social {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 12px;
}
