.chat-container {
  display: flex;
}

.side-options-section {
  width: 500px;
  display: none;
  background-color: var(--info);
}

@media (min-width: 768px) {
  .side-options-section {
    display: flex;
  }
}

.conversation-section {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
}
