.avatar {
  width: 40px;
  height: 40px;
  position: relative;
}

.avatar-group {
  width: 45px;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-group div:nth-child(2) {
  display: flex;
  gap: 2px;
}

.active {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.online {
  background-color: var(--success);
}

.offline {
  background-color: var(--error);
}

.avatar-card {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar-card p:nth-child(1) {
  color: var(--secondary);
  font-weight: bold;
}
