.empty-state {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .empty-state button {
    display: none;
  }
}
